<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    {{ partial "head.html" . }}
    {{ block "head" . }}{{ end }}
    <title>{{ .Title }}</title>
</head>

<body class="tk-myriad-hebrew bg-white overflow-x-hidden">
    {{ partial "nav.html" . }}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    <div class="overlay hidde"></div>
    {{ $tippy := resources.Get "js/utils/tippy.js" | js.Build (dict "minify" true)}}
    {{ $default := resources.Get "js/default.js" | js.Build (dict "minify" true)}}
    <script src="{{ $tippy.Permalink }}"></script>
    <script src="{{ $default.Permalink }}"></script>
    {{ block "js" . }}{{ end }}
</body>

</html>