{{ define "main" }}
<div class="bg-banner-datos-lg bg-cover bg-center lg:pt-40 lg:pb-28">
    <div class="mx-auto lg:w-6/12 text-white text-center">
        <h1 class="font-merriweather-sans lg:text-6xl lg:mb-16">{{ T "data_explore_label_title" }}<span
                class="block lg:text-4xl">{{ T "data_explore_label_subtitle" }}</span></h1>
        <button class="py-4 px-6 bg-blue-dark text-white lg:text-xl lg:mb-16 inline-flex items-center" id="btn-tool">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            Conocer herramienta
        </button>
        <div class="hidden mb-8 lg:mb-12 xl:mb-16" id="message-tool">
            <h2 class="font-merriweather-sans text-4xl lg:text-5xl mb-4 lg:mb-6">Conocer herramienta</h2>
            <p class="text-white lg:text-lg mb-8 lg:mb-16">
                Esta herramienta para explorar los datos de las Iniciativas Mapeadas está dividida en tres paneles, que
                te permitirán visualizar de forma sencilla la información recolectada en el proyecto.
            </p>
            <h3 class="text-white text-3xl lg:text-4xl mb-4 lg:mb-6">Primer panel</h3>
            <p class="text-white lg:text-lg mb-4 lg:mb-6">
                En el primer panel encontrarás una serie de preguntas guía y podrás hacer clic en cualquiera de ellas. A
                continuación, en la sección de “Información general”, podrás seleccionar los filtros específicos para la
                pregunta que hayas escogido.
            </p>
            <img class="mx-auto mb-8 lg:mb-12" src="/images/gif/gif-primer-panel.gif" alt="gif primer panel">
            <h3 class="text-white text-3xl lg:text-4xl mb-4 lg:mb-6">Segundo panel</h3>
            <p class="text-white lg:text-lg mb-4 lg:mb-6">
                En el segundo panel encontrarás la visualización de los datos que filtraste en el primer panel. Allí, en
                la sección “Selecciona el tipo de gráfica”, podrás escoger el tipo de visualización que desees y
                descargarla en varios formatos.
            </p>
            <img class="mx-auto mb-8 lg:mb-12" src="/images/gif/gif-segundo-panel.gif" alt="gif segundo panel">
            <h3 class="text-white text-3xl lg:text-4xl mb-4 lg:mb-6">Tercer panel</h3>
            <p class="text-white lg:text-lg mb-4 lg:mb-6">
                Este es el panel de detalle y allí encontrarás los pasos a seguir para obtener y explorar a fondo la
                visualización que se genera en el segundo panel. Además, al hacer clic en alguno de los valores de la
                visualización que escogiste, también encontrarás el detalle de las iniciativas correspondientes.
            </p>
            <img class="mx-auto" src="/images/gif/gif-tercer-panel.gif" alt="gif tercer panel">
        </div>
    </div>
    <iframe class="mx-auto w-10/12 h-screen" src="https://datasketch.shinyapps.io/reconocimiento-facial-app/"
        frameborder="0"></iframe>
</div>
{{/* DOWNLAD THE REPORT */}}
{{ partial "download-report.html" . }}
{{/* DOWNLAD THE REPORT END */}}
<script>
    document.querySelector("#btn-tool").addEventListener('click', function (e) {
        document.querySelector("#message-tool").classList.toggle("hidden")
    })
</script>
{{ end }}