{{ define "main" }}
    <div class="bg-banner-datos-lg bg-cover bg-center lg:pt-40 lg:pb-28">
        <div class="mx-auto lg:w-6/12 text-white text-center">
            <h1 class="font-merriweather-sans lg:text-6xl lg:mb-16">Explorador de datos <span class="block lg:text-4xl">Iniciativas Mapeadas</span></h1>
            <button class="py-4 px-6 bg-blue-dark text-white lg:text-xl lg:mb-16">
                <a class="flex items-center" href="#">
                    <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
                    Conocer herramienta
                </a>
            </button>
        </div>
        <img class="mx-auto" src="/images/explorador-datos/app-datasketch.svg" alt="App datasketch">
    </div>
{{ end }}