{{ define "main" }}

{{ $data := .Site.Data.iniciativasMapeadas }}
{{ $pais := slice }}
{{ $status := slice }}
{{ $area := slice }}
{{ $impacto := slice }}
{{ $incidente := slice }}

<!-- GET CATEGORIES -->
{{ range $data }}
{{ if .pais }}
{{ $pais = $pais | append .pais }}
{{ end }}
{{ if .status }}
{{ $status = $status | append .status }}
{{ end }}
{{ if .area }}
{{ $area = $area | append (split .area ", ")}}
{{ end }}
{{ if .impacto }}
{{ $impacto = $impacto | append (split .impacto ", ") }}
{{ end }}
{{ if .incidentes }}
{{ $incidente = $incidente | append .incidentes }}
{{ end }}
{{ end }}

<!-- BANNER INITIATIVES MAPPED -->
<div class="bg-cover bg-center bg-banner-iniciativas-lg lg:py-40">
    <div class="relative mx-auto lg:w-8/12 mb-20 lg:mb-40">
        <img src="/images/iniciativas-mapeadas/box-lemon-green-lg.png" alt="box lemon green">
        <div class="absolute center-box text-white mx-auto text-center lg:w-8/12">
            <h1 class="font-merriweather-sans lg:text-6xl lg:mb-8">{{ T "initiatives_label_title" }}</h1>
            <p class="mx-auto lg:text-2xl">
                {{ T "initiatives_label_description" }}
            </p>
        </div>
    </div>
    <h4 class="text-white text-center mb-6 lg:mb-12 lg:text-2xl">{{ T "initiatives_label_how_to" }}</h4>
    <div class="grid grid-cols-1 lg:grid-cols-3 lg:items-center lg:gap-x-16 gap-y-6 w-10/12 mx-auto lg:mb-40"
        id="button-container">
        <button data-tab="0" class="button-filter button-filter--active">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            {{ T "initiatives_action_filter_country" }}
        </button>
        <button data-tab="1" class="button-filter">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            {{ T "initiatives_action_filter_implementation_state" }}
        </button>
        <button data-tab="2" class="button-filter">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            {{ T "initiatives_action_filter_aplication_area" }}
        </button>
        <button data-tab="3" class="button-filter">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            {{ T "initiatives_action_filter_audit" }}
        </button>
        <button data-tab="4" class="button-filter">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            {{ T "initiatives_action_filter_incidents" }}
        </button>
        <!-- <button data-tab="5" class="button-filter">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            {{ T "initiatives_action_filter_rights_involved" }}
        </button> -->
    </div>
    <div class="text-white mx-auto text-center lg:w-6/12 initiative-message">
        <h2 class="font-merriweather-sans lg:text-5xl lg:mb-8">{{ T "initiatives_action_filter_country" }}</h2>
        <p class="mx-auto lg:text-xl lg:w-11/12">
            {{ T "initiatives_countrie_description" }}
        </p>
    </div>
    <div class="text-white mx-auto text-center lg:w-6/12 hidden initiative-message">
        <h2 class="font-merriweather-sans lg:text-5xl lg:mb-8">{{ T "initiatives_action_filter_implementation_state" }}
        </h2>
        <p class="mx-auto lg:text-xl lg:w-11/12">
            {{ T "initiatives_implementation_state_description" }}
        </p>
    </div>
    <div class="text-white mx-auto text-center lg:w-6/12 hidden initiative-message">
        <h2 class="font-merriweather-sans lg:text-5xl lg:mb-8">{{ T "initiatives_action_filter_aplication_area" }}</h2>
        <p class="mx-auto lg:text-xl lg:w-11/12">
            {{ T "initiatives_aplication_area_description" }}
        </p>
    </div>
    <div class="text-white mx-auto text-center lg:w-6/12 hidden initiative-message">
        <h2 class="font-merriweather-sans lg:text-5xl lg:mb-8">{{ T "initiatives_action_filter_audit" }}</h2>
        <p class="mx-auto lg:text-xl lg:w-11/12">
            {{ T "initiatives_audit_description" }}
        </p>
    </div>
    <div class="text-white mx-auto text-center lg:w-6/12 hidden initiative-message">
        <h2 class="font-merriweather-sans lg:text-5xl lg:mb-8">{{ T "initiatives_action_filter_incidents" }}</h2>
        <p class="mx-auto lg:text-xl lg:w-11/12">
            {{ T "initiatives_incidents_description" }}
        </p>
    </div>
    <div class="text-white mx-auto text-center lg:w-6/12 hidden initiative-message">
        <h2 class="font-merriweather-sans lg:text-5xl lg:mb-8">{{ T "initiatives_action_filter_rights_involved" }}</h2>
        <p class="mx-auto lg:text-xl lg:w-11/12">
            {{ T "initiatives_rights_involved_description" }}
        </p>
    </div>
</div>
<!-- BANNER INITIATIVES MAPPED END -->

<!-- INITIATIVES -->
<section class="py-20 lg:py-22">
    <!-- FILTER BY COUNTRIES -->
    <div class="filter-initiative">
        <h3 class="text-center lg:text-2xl font-bold lg:mb-6">{{ T "initiatives_label_select_country" }}</h3>
        <div class="text-center mb-10 lg:mb-20">
            <div class="inline-block relative w-64">
                <select name="filterByCountries" id="filterByCountries"
                    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline lg:text-lg">
                    <option active value="Todos">Todos</option>
                    {{ range sort (uniq $pais) "value" "asc" }}
                    <option active value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- FILTER BY COUNTRIES END -->
    <!-- FILTER BY STATE -->
    <div class="filter-initiative hidden">
        <h3 class="text-center lg:text-2xl font-bold lg:mb-6">{{ T "initiatives_label_select_state" }}</h3>
        <div class="text-center mb-10 lg:mb-20 filterInitiative">
            <div class="inline-block relative w-64">
                <select name="filterByState" id="filterByState"
                    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline lg:text-lg">
                    <option active value="Todos">Todas</option>
                    {{ range sort (uniq $status) "value" "asc" }}
                    <option active value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- FILTER BY STATE END -->
    <!-- FILTER BY AREA -->
    <div class="filter-initiative hidden">
        <h3 class="text-center lg:text-2xl font-bold lg:mb-6">{{ T "initiatives_label_select_aplication" }}</h3>
        <div class="text-center mb-10 lg:mb-20 filterInitiative">
            <div class="inline-block relative w-64">
                <select name="filterByArea" id="filterByArea"
                    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline lg:text-lg">
                    <option active value="Todos">Todas</option>
                    {{ range sort (uniq $area) "value" "asc" }}
                    <option active value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- FILTER BY AREA END -->
    <!-- FILTER BY IMPACT AND AUDIT -->
    <div class="filter-initiative hidden">
        <h3 class="text-center lg:text-2xl font-bold lg:mb-6">{{ T "initiatives_label_select_audit_impact" }}</h3>
        <div class="text-center mb-10 lg:mb-20 filterInitiative">
            <div class="inline-block relative w-64">
                <select name="filterByImpactAudit" id="filterByImpactAudit"
                    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline lg:text-lg">
                    <option active value="Todos">Todas</option>
                    {{ range sort (uniq $impacto) "value" "asc" }}
                    <option active value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- FILTER BY IMPACT AND AUDIT END -->
    <!-- FILTER BY INCIDENT -->
    <div class="filter-initiative hidden">
        <h3 class="text-center lg:text-2xl font-bold lg:mb-6">{{ T "initiatives_label_select_incident" }}</h3>
        <div class="text-center mb-10 lg:mb-20 filterInitiative">
            <div class="inline-block relative w-64">
                <select name="filterByIncident" id="filterByIncident"
                    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline lg:text-lg">
                    <option active value="Todos">Todas</option>
                    {{ range sort (uniq $incidente) "value" "desc" }}
                    <option active value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- FILTER BY INCIDENT END -->
    <div class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 xl:grid-cols-3 lg:gap-14 mx-auto w-11/12 initiatives-container">
        {{/* CHILD ELEMENT */}}

        {{/* <div class="initiatives">
            <div class="initiatives-padding">
                <span class="initiatives-country">País</span>
                <h3 class="initiatives-title">
                    Sistema de automatizacion migratorio para el aeropuerto internacional Arturo Merino Benítez de
                    Santiago
                </h3>
            </div>
            <button data-id="1" class="initiatives-button modal-button--open">
                Ver ficha
                <img class="initiatives-image" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div> */}}

        {{/* CHILD ELEMENT END */}}
    </div>
</section>
<!-- INITIATIVES END -->

<input type="hidden" name="data" id="data-iniciativasMapeadas" value="{{ jsonify .Site.Data.iniciativasMapeadas }}">
{{ end }}

{{ define "js" }}
{{ $modal := resources.Get "js/utils/modal.js" | js.Build (dict "minify" true) }}
{{ $database := resources.Get "js/api/iniciativas-mapeadas.js" | js.Build (dict "minify" true) }}
<script src="{{ $database.Permalink }}"></script>
<script src="{{ $modal.Permalink }}"></script>
{{ end }}