{{ define "main" }}
<!-- BANNER INITIATIVES MAPPED -->
<div class="bg-cover bg-center bg-banner-proveedores-lg lg:py-40">
    <div class="relative mx-auto lg:w-8/12 lg:mb-40">
        <img src="/images/iniciativas-mapeadas/box-lemon-green-lg.png" alt="box lemon green">
        <div class="absolute center-box text-white mx-auto text-center lg:w-8/12">
            <h1 class="font-merriweather-sans lg:text-6xl lg:mb-8">Proveedores identificados</h1>
            <p class="mx-auto lg:text-2xl">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet
                dolore magna aliquam erat volutpat.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 lg:items-center lg:gap-x-16 gap-y-6 w-10/12 mx-auto lg:mb-40">
        <button class="flex items-center py-4 px-6 bg-blue-dark text-white lg:text-xl">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            Lorem ipsum
        </button>
        <button class="flex items-center py-4 px-6 bg-blue-dark text-white lg:text-xl">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            Lorem ipsum
        </button>
        <button class="flex items-center py-4 px-6 bg-blue-dark text-white lg:text-xl">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            Lorem ipsum
        </button>
        <button class="flex items-center py-4 px-6 bg-blue-dark text-white lg:text-xl">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            Lorem ipsum
        </button>
        <button class="flex items-center py-4 px-6 bg-blue-dark text-white lg:text-xl">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            Lorem ipsum
        </button>
        <button class="flex items-center py-4 px-6 bg-blue-dark text-white lg:text-xl">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            Lorem ipsum
        </button>
        <button class="flex items-center py-4 px-6 bg-blue-dark text-white lg:text-xl">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            Lorem ipsum
        </button>
        <button class="flex items-center py-4 px-6 bg-blue-dark text-white lg:text-xl">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            Lorem ipsum
        </button>
        <button class="flex items-center py-4 px-6 bg-blue-dark text-white lg:text-xl">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            Lorem ipsum
        </button>
    </div>
    <div class="text-white mx-auto text-center lg:w-6/12">
        <h2 class="font-merriweather-sans lg:text-5xl lg:mb-8">Lorem ipsum</h2>
        <p class="mx-auto lg:text-xl mx-auto lg:w-11/12">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
            suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
            vulputate velit esse molestie consequat
        </p>
    </div>
</div>
<!-- BANNER INITIATIVES MAPPED END -->

<!-- COUNTRIES -->
<section class="py-20 lg:py-22">
    <div class="mx-auto mb-12 lg:mb-24 lg:w-3/12">
        <button
            class="flex mx-auto lg:w-full items-center justify-evenly py-2 px-6 text-black border-2 border-black lg:text-xl">
            Lorem ipsum dolor
            <img src="/images/public/icons/icon-arrow-bottom.svg" alt="icon arrow bottom">

        </button>
    </div>
    <div class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 xl:grid-cols-3 lg:gap-14 mx-auto w-11/12">
        <div class="border border-blue">
            <div class="p-8">
                <span class="block mb-4 italic text-blue">Lorem</span>
                <h3 class="font-bold lg:text-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus impedit saepe perspiciatis
                    eos dolorum iure officia.
                </h3>
            </div>
            <button class="bg-blue-dark grid place-items-center py-4 w-full">
                <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div>
        <div class="border border-blue">
            <div class="p-8">
                <span class="block mb-4 italic text-blue">Lorem</span>
                <h3 class="font-bold lg:text-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus impedit saepe perspiciatis
                    eos dolorum iure officia.
                </h3>
            </div>
            <button class="bg-blue-dark grid place-items-center py-4 w-full">
                <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div>
        <div class="border border-blue">
            <div class="p-8">
                <span class="block mb-4 italic text-blue">Lorem</span>
                <h3 class="font-bold lg:text-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus impedit saepe perspiciatis
                    eos dolorum iure officia.
                </h3>
            </div>
            <button class="bg-blue-dark grid place-items-center py-4 w-full">
                <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div>
        <div class="border border-blue">
            <div class="p-8">
                <span class="block mb-4 italic text-blue">Lorem</span>
                <h3 class="font-bold lg:text-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus impedit saepe perspiciatis
                    eos dolorum iure officia.
                </h3>
            </div>
            <button class="bg-blue-dark grid place-items-center py-4 w-full">
                <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div>
        <div class="border border-blue">
            <div class="p-8">
                <span class="block mb-4 italic text-blue">Lorem</span>
                <h3 class="font-bold lg:text-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus impedit saepe perspiciatis
                    eos dolorum iure officia.
                </h3>
            </div>
            <button class="bg-blue-dark grid place-items-center py-4 w-full">
                <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div>
        <div class="border border-blue">
            <div class="p-8">
                <span class="block mb-4 italic text-blue">Lorem</span>
                <h3 class="font-bold lg:text-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus impedit saepe perspiciatis
                    eos dolorum iure officia.
                </h3>
            </div>
            <button class="bg-blue-dark grid place-items-center py-4 w-full">
                <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div>
        <div class="border border-blue">
            <div class="p-8">
                <span class="block mb-4 italic text-blue">Lorem</span>
                <h3 class="font-bold lg:text-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus impedit saepe perspiciatis
                    eos dolorum iure officia.
                </h3>
            </div>
            <button class="bg-blue-dark grid place-items-center py-4 w-full">
                <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div>
        <div class="border border-blue">
            <div class="p-8">
                <span class="block mb-4 italic text-blue">Lorem</span>
                <h3 class="font-bold lg:text-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus impedit saepe perspiciatis
                    eos dolorum iure officia.
                </h3>
            </div>
            <button class="bg-blue-dark grid place-items-center py-4 w-full">
                <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div>
        <div class="border border-blue">
            <div class="p-8">
                <span class="block mb-4 italic text-blue">Lorem</span>
                <h3 class="font-bold lg:text-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus impedit saepe perspiciatis
                    eos dolorum iure officia.
                </h3>
            </div>
            <button class="bg-blue-dark grid place-items-center py-4 w-full">
                <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div>
        <div class="border border-blue">
            <div class="p-8">
                <span class="block mb-4 italic text-blue">Lorem</span>
                <h3 class="font-bold lg:text-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus impedit saepe perspiciatis
                    eos dolorum iure officia.
                </h3>
            </div>
            <button class="bg-blue-dark grid place-items-center py-4 w-full">
                <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div>
        <div class="border border-blue">
            <div class="p-8">
                <span class="block mb-4 italic text-blue">Lorem</span>
                <h3 class="font-bold lg:text-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus impedit saepe perspiciatis
                    eos dolorum iure officia.
                </h3>
            </div>
            <button class="bg-blue-dark grid place-items-center py-4 w-full">
                <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div>
        <div class="border border-blue">
            <div class="p-8">
                <span class="block mb-4 italic text-blue">Lorem</span>
                <h3 class="font-bold lg:text-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem delectus impedit saepe perspiciatis
                    eos dolorum iure officia.
                </h3>
            </div>
            <button class="bg-blue-dark grid place-items-center py-4 w-full">
                <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div>
    </div>
</section>
<!-- COUNTRIES END -->
{{ end }}