{{ define "main" }}

{{ $data := .Site.Data.proveedoresIdentificados }}
{{ $pais := slice }}
{{ $sector := slice }}

<!-- GET CATEGORIES -->
{{ range $data }}
{{ if .pais }}
{{ $pais = $pais | append .pais }}
{{ end }}
{{ if .sector }}
{{ $sector = $sector | append .sector }}
{{ end }}
{{ end }}

<!-- BANNER INITIATIVES MAPPED -->
<div class="bg-cover bg-center bg-banner-proveedores-lg pt-36 pb-28 lg:py-40">
    <div class="relative mx-auto lg:w-8/12 mb-20 lg:mb-40">
        <img class="hidden lg:block" src="/images/iniciativas-mapeadas/box-lemon-green-lg.png" alt="box lemon green">
        <div class="relative w-10/12 md:w-8/12 lg:absolute center-box text-white mx-auto text-center lg:w-10/12 xl:w-8/12">
            <h1 class="font-merriweather-sans text-3xl md:text-4xl lg:text-5xl xl:text-6xl mb-2 lg:mb-4 xl:mb-8">{{ T "provider_label_title" }}</h1>
            <p class="mx-auto md:text-xl lg:text-2xl">
                {{ T "provider_label_description" }}
            </p>
        </div>
    </div>
    <h4 class="text-white text-center mb-6 lg:mb-12 text-xl lg:text-2xl">{{ T "provider_label_how_filter" }}</h4>
    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 lg:items-center lg:gap-x-16 gap-y-6 w-10/12 mx-auto mb-20 lg:mb-40"
        id="button-container">
        <button data-tab="0" class="button-filter button-filter--dark button-filter--active">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            {{ T "provider_action_filter_origen_country" }}
        </button>
        <button data-tab="1" class="button-filter button-filter--dark">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            {{ T "provider_action_filter_sector" }}
        </button>
    </div>
    <div class="text-white mx-auto text-center lg:w-6/12 provider-message">
        <h2 class="font-merriweather-sans lg:text-5xl lg:mb-8">{{ T "provider_action_filter_origen_country" }}</h2>
        <p class="lg:text-xl mx-auto lg:w-11/12">
            {{ T "provider_label_origen_country_description" }}
        </p>
    </div>
    <div class="text-white mx-auto text-center lg:w-6/12 hidden provider-message">
        <h2 class="font-merriweather-sans lg:text-5xl lg:mb-8">{{ T "provider_action_filter_sector" }}</h2>
        <p class="lg:text-xl mx-auto lg:w-11/12">
            {{ T "provider_label_sector_description" }}
        </p>
    </div>
</div>
<!-- BANNER INITIATIVES MAPPED END -->

<!-- COUNTRIES -->
<section class="py-20 lg:py-22">
    <!-- FILTER BY COUNTRIES -->
    <div class="filter-provider">
        <h3 class="text-center lg:text-2xl font-bold lg:mb-6">{{ T "initiatives_label_select_country" }}</h3>
        <div class="text-center mb-10 lg:mb-20">
            <div class="inline-block relative w-64">
                <select name="filterByCountries" id="filterByCountries"
                    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline lg:text-lg">
                    <option active value="Todos">Todos</option>
                    {{ range sort (uniq $pais) "value" "asc" }}
                    <option active value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- FILTER BY COUNTRIES END -->
    <!-- FILTER BY SECTOR -->
    <div class="filter-provider hidden">
        <h3 class="text-center lg:text-2xl font-bold lg:mb-6">{{ T "provider_action_sector" }}</h3>
        <div class="text-center mb-10 lg:mb-20">
            <div class="inline-block relative w-64">
                <select name="filterBySector" id="filterBySector"
                    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline lg:text-lg">
                    <option active value="Todos">Todos</option>
                    {{ range sort (uniq $sector) "value" "desc" }}
                    <option active value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- FILTER BY SECTOR END -->
    <div class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 xl:grid-cols-3 lg:gap-14 mx-auto w-11/12 provider-container">
        {{/* CHILD ELEMENT PROVIDER */}}
        {{/* <div class="provider-item">
            <div class="provider-padding">
                <span class="provider-country">País</span>
                <h3 class="provider-title">
                    Unión temporal
                </h3>
            </div>
            <button class="provider-button" data-modal="1">
                Ver ficha
                <img class="provider-image" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div> */}}
        {{/* CHILD ELEMENT PROVIDER END */}}
    </div>
</section>

{{/* <div class="modal modal-active">
    <div class="modal-left">
        <span class="modal-country">Chile</span>
        <h3 class="font-merriweather-sans font-bold lg:text-2xl lg:mb-10">
            Sistema de automatizacion migratorio para el aeropuerto internacional Arturo Merino Benítez de Santiago
        </h3>
        <p class="modal-link">Sitio web: <a class="modal-underline" href="#">www.loremipsumdolor.sit amet</a></p>
    </div>
    <div class="modal-right modal-right-dark">
        <span class="modal-proveedores">Sistemas que ha desarrollado</span>
        <ul class="modal-list--blue-light">
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
        </ul>
    </div>
    <button class="modal-button--close">
        <i class="fas fa-times modal-icon"></i>
    </button>
</div>
<div class="modal-overlay modal-overlay-active"></div> */}}

<!-- COUNTRIES END -->
<input type="hidden" name="data" id="data-proveedoresIdentificados"
    value="{{ jsonify .Site.Data.proveedoresIdentificados }}">
{{ end }}
{{ define "js" }}
{{ $modal := resources.Get "js/utils/modal.js" | js.Build (dict "minify" true) }}
{{ $database := resources.Get "js/api/proveedores-identificados.js" | js.Build (dict "minify" true) }}
<script src="{{ $database.Permalink }}"></script>
<script src="{{ $modal.Permalink }}"></script>
{{ end }}