{{ define "main" }}
<!-- BANNER INITIATIVES MAPPED -->
<div class="bg-cover bg-center bg-banner-proveedores-lg lg:py-40">
    <div class="relative mx-auto lg:w-8/12">
        <img src="/images/iniciativas-mapeadas/box-lemon-green-lg.png" alt="box lemon green">
        <div class="absolute center-box text-white mx-auto text-center lg:w-8/12">
            <h1 class="font-merriweather-sans lg:text-6xl lg:mb-8">Proveedores identificados</h1>
            <p class="mx-auto lg:text-2xl">
                Aquí encontrarás el listado de proveedores de tecnología asociados al desarrollo de los distintos
                sistemas de reconocimiento facial identificados en la región.
            </p>
        </div>
    </div>
    <!-- <h4 class="text-white text-center mb-6 lg:mb-10 lg:text-2xl">Escoge como filtrar los proveedores identificados</h4>
    <div class="grid grid-cols-1 lg:grid-cols-3 lg:items-center lg:gap-x-16 gap-y-6 w-10/12 mx-auto lg:mb-40">
        <button class="flex items-center py-4 px-6 bg-blue-dark text-white lg:text-xl">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            País de origen
        </button>
        <button class="flex items-center py-4 px-6 bg-blue-dark text-white lg:text-xl">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            Países en los que opera
        </button>
        <button class="flex items-center py-4 px-6 bg-blue-dark text-white lg:text-xl">
            <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            Sector
        </button>
    </div>
    <div class="text-white mx-auto text-center lg:w-6/12">
        <h2 class="font-merriweather-sans lg:text-5xl lg:mb-8">Países en los que opera</h2>
        <p class="lg:text-xl mx-auto lg:w-11/12">
            Aquí encontrarás el listado de proveedores de acuerdo a los países en los que han ofrecido servicios
            relacionados con la implementación de sistemas de reconocimiento facial.
        </p>
    </div> -->
</div>
<!-- BANNER INITIATIVES MAPPED END -->

<!-- COUNTRIES -->
<section class="py-20 lg:py-22">
    <!-- <h3 class="text-center lg:text-2xl font-bold lg:mb-6">Selecciona un país</h3>
    <div class="mx-auto mb-12 lg:mb-24 lg:w-3/12">
        <button
            class="flex mx-auto lg:w-full items-center justify-evenly py-2 px-6 text-black border-2 border-black lg:text-xl">
            Todos
            <img src="/images/public/icons/icon-arrow-bottom.svg" alt="icon arrow bottom">
        </button>
    </div> -->
    <div class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 xl:grid-cols-3 lg:gap-14 mx-auto w-11/12 provider-container">
        {{/* CHILD ELEMENT PROVIDER */}}
        {{/*  <div class="provider-item">
            <div class="provider-padding">
                <span class="provider-country">País</span>
                <h3 class="provider-title">
                    Unión temporal
                </h3>
            </div>
            <button class="provider-button" data-modal="1">
                Ver ficha
                <img class="provider-image" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
            </button>
        </div>  */}}
        {{/* CHILD ELEMENT PROVIDER END */}}
    </div>
</section>

{{/*  <div class="modal modal-active">
    <div class="modal-left">
        <span class="modal-country">Chile</span>
        <h3 class="font-merriweather-sans font-bold lg:text-2xl lg:mb-10">
            Sistema de automatizacion migratorio para el aeropuerto internacional Arturo Merino Benítez de Santiago
        </h3>
        <p class="modal-link">Sitio web: <a class="modal-underline" href="#">www.loremipsumdolor.sit amet</a></p>
    </div>
    <div class="modal-right modal-right-dark">
        <span class="modal-proveedores">Sistemas que ha desarrollado</span>
        <ul class="modal-list--blue-light">
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
        </ul>
    </div>
    <button class="modal-button--close">
        <i class="fas fa-times modal-icon"></i>
    </button>
</div>
<div class="modal-overlay modal-overlay-active"></div>  */}}

<!-- COUNTRIES END -->
<input type="hidden" name="data" id="data-proveedoresIdentificados"
    value="{{ jsonify .Site.Data.proveedoresIdentificados }}">
{{ end }}
{{ define "js" }}
{{ $modal := resources.Get "js/utils/modal.js" | js.Build (dict "minify" true) }}
{{ $database := resources.Get "js/api/proveedores-identificados.js" | js.Build (dict "minify" true) }}
<script src="{{ $database.Permalink }}"></script>
<script src="{{ $modal.Permalink }}"></script>
{{ end }}