<footer class="bg-footer-lg bg-cover bg-center py-20">
    <div class="mx-auto w-11/12 text-white grid grid-cols-1 gap-y-12 lg:grid-cols-4 lg:items-center">
        <img class="order-3 h-12 lg:h-16 mx-auto lg:order-1" src="/images/public/logo-al-sur.png" alt="Logo al sur">
        <img class="order-4 h-12 lg:h-16 mx-auto lg:order-2" src="/images/public/logo-ned.svg" alt="Logo al sur">
        <ul class="order-1 mx-auto text-center lg:order-3 lg:text-left">
            <li class="mb-6"><a class="text-lg hover:text-lemon-green duration-300" href="{{ relref . "iniciativas-mapeadas.md" }}">Iniciativas Mapeadas</a></li>
            <li class="mb-6"><a class="text-lg hover:text-lemon-green duration-300" href="{{ relref . "explorador-de-datos.md" }}">Explorador de datos</a></li>
            <li class="mb-6"><a class="text-lg hover:text-lemon-green duration-300" href="#">Metodología</a></li>
            <li><a class="text-lg hover:text-lemon-green duration-300" href="https://reconocimientofacial.info/sobre-el-proyecto/">Sobre el proyecto</a></li>
        </ul>
        <div class="order-2 mx-auto text-center lg:order-4 lg:text-left">
            <h4 class="text-lg mb-2">Contáctanos</h4>
            <div class="flex justify-center lg:justify-between items-center my-10">
                <a href="#">
                    <img src="/images/public/icons/icon-twitter.svg" alt="icon twitter social">
                </a>
            </div>
            <img src="/images/public/datasketch.svg" alt="logo datasketch">
        </div>
    </div>
</footer>