<footer class="bg-footer-lg bg-cover bg-center py-20">
    <div class="mx-auto w-10/12 text-white grid grid-cols-1 lg:grid-cols-3 lg:items-center">
        <div>&nbsp;</div>
        <ul>
            <li class="mb-5"><a class="text-lg hover:text-lemon-green duration-300" href="#">Iniciativas Mapeadas</a></li>
            <li class="mb-5"><a class="text-lg hover:text-lemon-green duration-300" href="#">Explorador de datos</a></li>
            <li class="mb-5"><a class="text-lg hover:text-lemon-green duration-300" href="#">Metodología</a></li>
            <li><a class="text-lg hover:text-lemon-green duration-300" href="#">Sobre el proyecto</a></li>
        </ul>
        <div>
            <h4 class="text-lg mb-2">Contáctanos</h4>
            <div class="flex justify-between items-center my-10">
                <a href="#">
                    <img src="/images/public/icons/icon-twitter.svg" alt="icon twitter social">
                </a>
            </div>
            <img src="/images/public/datasketch.svg" alt="logo datasketch">
        </div>
    </div>
</footer>