<div class="modal modal-hidden">
    <div class="modal-left p-4 lg:p-8 xl:px-20 xl:py-14 text-body">
        <span class="block italic text-light-green lg:mb-6 lg:text-xl">Chile</span>
        <h3 class="font-merriweather-sans font-bold lg:text-2xl lg:mb-10">
            Sistema de automatizacion migratorio para el aeropuerto internacional Arturo Merino Benítez de Santiago
        </h3>
        <p class="lg:text-xl lg:mb-10">
            Sistema de automatizacion migratorio para el aeropuerto internacional Arturo Merino Benítez de Santiago que
            cuenta con un software de reconocimiento biométrico.
        </p>
        <p class="lg:text-xl">
            Es un sistema de vigilancia constante, permanente y desproporcionado, que no solo almacenaría las imágenes
            de todos los usuarios que transitan por el aeropuerto, sino que analizaría sus rasgos faciales para
            compararlos con una base de datos cuyos criterios de elaboración son poco o nada claros.
        </p>
    </div>
    <div class="modal-right p-4 lg:p-8 xl:px-20 xl:py-14 text-white">
        <span class="block italic lg:mb-2 lg:text-xl">Estado de la implementación</span>
        <ul class="list-disc list-inside lg:mb-8">
            <li class="text-xl">En proceso de implementación</li>
        </ul>

        <span class="block italic lg:mb-2 lg:text-xl">Área de aplicación</span>
        <ul class="list-disc list-inside lg:mb-8">
            <li class="text-xl">Seguridad publica y Transporte</li>
        </ul>

        <span class="block italic lg:mb-2 lg:text-xl">Derechos involucrados</span>
        <ul class="list-disc list-inside lg:mb-8">
            <li class="text-xl lg:mb-2">Lorem ipsum dolor sit amet</li>
            <li class="text-xl lg:mb-2">Lorem ipsum dolor sit amet</li>
            <li class="text-xl lg:mb-2">Lorem ipsum dolor sit amet</li>
            <li class="text-xl">Lorem ipsum dolor sit amet</li>
        </ul>

        <span class="block italic lg:mb-2 lg:text-xl">Proveedores</span>
        <ul class="list-disc list-inside text-lemon-green">
            <li class="text-xl lg:mb-2">Lorem ipsum dolor sit amet</li>
            <li class="text-xl lg:mb-2">Lorem ipsum dolor sit amet</li>
            <li class="text-xl lg:mb-2">Lorem ipsum dolor sit amet</li>
            <li class="text-xl">Lorem ipsum dolor sit amet</li>
        </ul>
    </div>
    <button class="modal-button--close">
        <i class="fas fa-times text-white text-4xl hover:text-lemon-green duration-300"></i>
    </button>
</div>
<div class="modal-overlay modal-overlay-hidden"></div>