<div class="modal">
    <div class="modal-left">
        <span class="modal-country">Chile</span>
        <h3 class="font-merriweather-sans font-bold lg:text-2xl lg:mb-10">
            Sistema de automatizacion migratorio para el aeropuerto internacional Arturo Merino Benítez de Santiago
        </h3>
        <p class="modal-description">
            Sistema de automatizacion migratorio para el aeropuerto internacional Arturo Merino Benítez de Santiago que
            cuenta con un software de reconocimiento biométrico.
        </p>
    </div>
    <div class="modal-right">
        <span class="modal-estado-implementacion">Estado de la implementación</span>
        <ul class="modal-list">
            <li class="modal-list-content">En proceso de implementación</li>
        </ul>

        <span class="modal-area-aplicacion">Área de aplicación</span>
        <ul class="modal-list">
            <li class="modal-list-content">Seguridad publica y Transporte</li>
        </ul>

        <span class="modal-derechos-involucrados">Derechos involucrados</span>
        <ul class="modal-list">
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
        </ul>

        <span class="modal-proveedores">Proveedores</span>
        <ul class="modal-list--blue-light">
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
            <li class="modal-list-content">Lorem ipsum dolor sit amet</li>
        </ul>
    </div>
    <button class="modal-button--close">
        <i class="fas fa-times modal-icon"></i>
    </button>
</div>
<div class="modal-overlay"></div>