{{/*  NAVBAR  */}}
<header class="absolute w-full text-white font-raleway py-4 lg:grid lg:grid-cols-12 lg:items-center lg:py-6">
    <span class="lg:col-start-2 lg:col-end-4">LOGO</span>
    <nav class="lg:col-start-4 lg:col-end-12">
        <ul class="lg:flex lg:justify-between lg:items-center">
            <li><a class="hover:text-lemon-green duration-300" href="#">Sobre el proyecto</a></li>
            <li><a class="hover:text-lemon-green duration-300" href="#">Iniciativas Mapeadas</a></li>
            <li><a class="hover:text-lemon-green duration-300" href="#">Proveedores</a></li>
            <li><a class="hover:text-lemon-green duration-300" href="#">Explora de datos</a></li>
            <button class="border-2 border-white p-2">
                ES
            </button>
        </ul>
    </nav>
</header>
{{/*  NAVBAR END  */}}