{{ define "main" }}
{{/* BANNER HOME */}}
<div class="py-32 bg-cover bg-center bg-banner-home-lg lg:py-44" id="banner">
    <div
        class="w-11/12 mb-14 mx-auto grid grid-cols-1 md:w-10/12 lg:w-full xl:w-10/12 lg:mb-32 lg:grid-cols-12 lg:items-center">
        <img class="mx-auto order-2 lg:col-start-1 lg:col-end-6 lg:order-1 lg:mx-0" src="/images/home/facial-human.png"
            alt="human image">
        <div class="order-1 text-center text-white lg:order-2 lg:text-left lg:col-start-6 lg:col-end-13 lg:w-11/12">
            <h1 class="font-merriweather-sans mb-10 text-4xl md:text-5xl xl:text-6xl lg:mb-8"><span
                    class="block lg:inline-block">{{ T "home_label_title" }}</h1>
            <p class="text-lg lg:text-xl lg:w-11/12">
                {{ T "home_label_subtitle" }}
            </p>
        </div>
    </div>
    <div class="mx-auto w-11/12 grid grid-cols-1 md:w-10/12 lg:w-11/12 xl:w-9/12 lg:grid-cols-12 lg:items-center">
        <div class="mb-20 text-white text-center lg:mb-0 lg:text-left lg:col-start-1 lg:col-end-8">
            <h2 class="font-merriweather-sans mb-10 text-4xl lg:text-4xl lg:mb-8">{{ T "home_label_mapped_title" }}</h2>
            <p class="text-lg lg:text-xl lg:w-11/12 lg:mb-8">
                {{ T "home_label_mapped_description" }}
            </p>
            <button class="hidden lg:block py-4 px-6 bg-blue-dark text-white text-xl">
                <a class="flex items-center" href="{{ relref . " iniciativas-mapeadas.md" }}">
                    <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
                    {{ T "action_button_initiatives" }}
                </a>
            </button>
        </div>
        <iframe
            class="mb-16 mx-auto lg:mb-0 lg:mx-0 lg:col-start-8 lg:col-end-13 w-full h-96 object-cover object-center"
            src="{{ relref . " /graficas/pais-implementacion.md" }}" frameborder="0"></iframe>
        <button class="mx-auto w-10/12 py-4 px-6 bg-blue-dark text-white lg:text-xl lg:hidden ">
            <a class="flex items-center text-xl" href="{{ relref . " iniciativas-mapeadas.md" }}">
                <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
                {{ T "action_button_initiatives" }}
            </a>
        </button>
    </div>
</div>
{{/* BANNER HOME END */}}

{{/* DATA EXPLORE */}}
<section class="py-20 bg-cover bg-center bg-banner-explore-data-home-lg lg:py-28">
    <div class="mx-auto w-10/12 lg:w-6/12 text-center mb-12 lg:mb-24">
        <h2 class="font-merriweather-sans mb-4 text-3xl md:text-4xl xl:text-5xl lg:mb-6 text-white">
            {{ T "home_label_identified_systems_title" }}
        </h2>
        <p class="text-white lg:text-lg">
            {{ T "home_label_identified_systems_description" }}
        </p>
    </div>
    <div class="mx-auto w-10/12 grid grid-cols-1 gap-y-12 lg:grid-cols-12 lg:items-center lg:gap-y-24">
        <iframe class="order-2 lg:col-start-1 lg:col-end-6 lg:order-1 w-full h-96 object-center object-cover"
            src="{{ relref . " /graficas/implementados-proveedor.md" }}" frameborder="0"></iframe>
        <div class="order-1 text-white text-center lg:text-left lg:col-start-7 lg:col-end-12 lg:order-2">
            <h2 class="font-merriweather-sans text-3xl lg:text-4xl mb-8">{{ T "home_label_providers_title" }}</h2>
            <p class="text-xl mb-8">
                {{ T "home_label_providers_description" }}
            </p>
            <button class="py-4 w-full px-6 bg-blue-dark text-white text-xl lg:w-auto">
                <a class="flex items-center" href="{{ relref . " explorador-de-datos.md" }}">
                    <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
                    {{ T "action_button_data_explorer" }}
                </a>
            </button>
        </div>
        <div class="order-3 text-white text-center lg:text-left lg:col-start-1 lg:col-end-6 lg:order-3">
            <h2 class="font-merriweather-sans text-3xl lg:text-4xl mb-8">{{ T "home_label_hiring_title" }}</h2>
            <p class="text-xl mb-8">
                {{ T "home_label_hiring_description" }}
            </p>
            <button class="py-4 w-full px-6 bg-blue-dark text-white text-xl lg:w-auto">
                <a class="flex items-center" href="{{ relref . " explorador-de-datos.md" }}">
                    <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
                    {{ T "action_button_data_explorer" }}
                </a>
            </button>
        </div>
        <iframe class="order-4 lg:col-start-7 lg:col-end-12 lg:order-4 w-full h-96 object-center object-cover"
            src="{{ relref . " /graficas/tipo-contrato.md" }}" frameborder="0"></iframe>
        <iframe class="order-6 lg:col-start-1 lg:col-end-6 lg:order-5 w-full h-96 object-center object-cover"
            src="{{ relref . " /graficas/area-aplicacion.md" }}" frameborder="0"></iframe>
        <div class="order-5 text-white text-center lg:text-left lg:col-start-7 lg:col-end-12 lg:order-6">
            <h2 class="font-merriweather-sans text-3xl lg:text-4xl mb-8">{{ T "home_label_implementation_areas_title" }}
            </h2>
            <p class="text-xl mb-8">
                {{ T "home_label_implementation_areas_description" }}
            </p>
            <button class="py-4 w-full px-6 bg-blue-dark text-white text-xl lg:w-auto">
                <a class="flex items-center" href="{{ relref . " explorador-de-datos.md" }}">
                    <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
                    {{ T "action_button_data_explorer" }}
                </a>
            </button>
        </div>
    </div>
</section>
{{/* DATA EXPLORE END */}}

{{/* DOWNLAD THE REPORT */}}
{{ partial "download-report.html" . }}
{{/* DOWNLAD THE REPORT END */}}

{{/* FACIAL RECOGNITION */}}
<section class="py-16 bg-blue-dark lg:py-24">
    <div class="mx-auto w-11/12 lg:w-10/12">
        <div class="text-center mb-10 text-white w-11/12 lg:w-8/12 mx-auto lg:mb-0">
            <h2 class="font-merriweather-sans text-4xl mb-5 lg:text-6xl lg:mb-10">{{ T
                "home_label_facial_recognition_title" }}</h2>
            <p class="text-lg lg:mb-10 mx-auto lg:w-10/12 lg:text-xl">
                {{ T "home_label_facial_recognition_description" }}
            </p>
        </div>
        <img class="mx-auto mb-14 lg:mb-10" src="/images/home/facial-humans.png" alt="humans home">
        <div class="grid grid-cols-1 mb-16 gap-y-24 lg:grid-cols-2 lg:items-center lg:gap-x-16 text-white lg:mb-20">
            <div class="text-center">
                <h3 class="font-merriweather-sans mb-5 text-2xl lg:text-3xl lg:mb-7">{{ T
                    "home_label_danger_facial_recognition_title" }}</h3>
                <p class="text-xl mx-auto mb-7 lg:w-10/12 lg:mb-10">
                    {{ T "home_label_danger_facial_recognition_description" }}
                </p>
                <button class="py-4 px-6 bg-blue-title text-white text-xl">
                    <a class="flex items-center" href="https://reconocimientofacial.info/por-que-no/" target="_blank">
                        <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
                        {{ T "action_button_more_information" }}
                    </a>
                </button>
            </div>
            <div class="text-center">
                <h3 class="font-merriweather-sans mb-5 text-2xl lg:text-3xl lg:mb-7">{{ T
                    "home_label_about_project_title" }}</h3>
                <p class="text-xl mx-auto mb-7 lg:w-10/12 lg:mb-10">
                    {{ T "home_label_about_project_description" }}
                </p>
                <button class="py-4 px-6 bg-blue-title text-white text-xl">
                    <a class="flex items-center" href="#">
                        <img class="mr-6" src="/images/public/icons/icon-arrow-right.svg" alt="icon arrow right">
                        {{ T "action_download_report" }}
                    </a>
                </button>
            </div>
        </div>
        <div class="mb-12 text-center mx-auto lg:w-8/12 lg:mb-24">
            <h4 class="text-white text-xl lg:text-2xl">
                {{ T "home_label_credits" }}
            </h4>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-4 items-center gap-y-12">
            <a target="_blank" href="https://www.alsur.lat/"><img class="h-12 lg:h-16 mx-auto"
                    src="/images/public/logo-al-sur.png" alt="Logo al sur"></a>
            <a target="_blank" href="https://www.ned.org/"> <img class="h-12 lg:h-16 mx-auto"
                    src="/images/public/logo-ned.svg" alt="Logo ned"></a>
            <a target="_blank" href="https://www.derechosdigitales.org/"><img class="h-16 lg:h-20 mx-auto"
                    src="/images/public/logo-rc-es.png" alt="Logo reconocimiento facial"></a>
            <a target="_blank" href="https://www.datasketch.co/"><img class="mx-auto"
                    src="/images/public/datasketch-large.svg" alt="Logo al sur"></a>
        </div>
    </div>
</section>
{{/* FACIAL RECOGNITION END */}}
{{ end }}